*/venv/
*/logs/*
*/config/connected_devices.json
*/storage/data/
.idea/
.vscode/
/build/
/deb_dist/
/*/config
/dist/
*.gz
/logs/
*.log
*.deb
*.rpm
/*.egg-info/
/data/
/logs/
__pycache__
venv
.venv
.env
/for_build/etc/iotplatform-gateway/config/
/*/logs/
/tests/storage/
/tests/blackbox/connectors/opcua/_trial_temp/
/tests/blackbox/connectors/modbus/_trial_temp/
*.DS_Store
